<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylq.internships.mapper.CompanyMapper">
    <resultMap id="company" type="Company">
        <id property="comName" column="com_name" javaType="String"/>
        <result property="comLocation" column="com_location" javaType="String"/>
        <result property="comTel" column="com_tel" javaType="String"/>
        <result property="comEmail" column="com_email" javaType="String"/>
        <result property="comInfo" column="com_info" javaType="String"/>
        <result property="comLongtitude" column="com_longtitude" javaType="Double"/>
        <result property="comLatitude" column="com_latitude" javaType="Double"/>
    </resultMap>
</mapper>