<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>顶岗实习管理系统运营端</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/font.css}" href="./css/font.css">
	<link rel="stylesheet" th:href="@{/css/xadmin.css}" href="./css/xadmin.css">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script th:src="@{/js/xadmin.js}" type="text/javascript" src="./js/xadmin.js"></script>
</head>
<body >
    <!-- 顶部开始 -->
    <div class="container" >
        <div class="logo"><a href="./index.html">顶岗实习管理系统</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${session.user.getManName()}">111</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a onclick="x_admin_show('个人信息修改','manager/to_edit_Information')">个人信息修改</a></dd>
                    <dd><a onclick="x_admin_show('切换帐号','personal-information')">个人信息</a></dd>
                    <dd><a href="manager/logOut">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a9;</i>
                        <cite>学校管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="manager/shool_list.manager">
                                <i class="iconfont">&#xe699;</i>
                                <cite>学校列表</cite>
                            </a>
                        </li >
                        <li>
                            <a _href="manager/school_manager_list.manager">
                                <i class="layui-icon">&#xe613;</i>
                                <cite>学校管理员</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe632;</i>
                        <cite>企业管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="company-list">
                                <i class="iconfont">&#xe699;</i>
                                <cite>企业列表</cite>
                            </a>
                        </li >
                        <li>
                            <a _href="order-list.html">
                                <i class="layui-icon">&#xe612;</i>
                                <cite>企业管理员</cite>
                            </a>
                        </li >
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- 右侧主体开始 -->
    <div class="page-content" >
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='manager/to_welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
<script>
</script>
</body>
</html>